@* /Views/Shared/_ToastNotification.cshtml *@

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        toastr.options = {
            "timeOut": "6000",
            "extendedTimeOut": "2000",
            "closeButton": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "closeHtml": '<button type="button">Got It!</button>',
            "showDuration": "300",
            "hideDuration": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        @if (TempData["SuccessMessage"] != null)
        {
            <text>toastr.success('@Html.Raw(TempData["SuccessMessage"].ToString())', 'Success');</text>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <text>toastr.error('@Html.Raw(TempData["ErrorMessage"].ToString())', 'Error');</text>
        }

        @if (TempData["DeleteMessage"] != null)
        {
            <text>toastr.warning('@Html.Raw(TempData["DeleteMessage"].ToString())', 'Deleted');</text>
        }
    });
</script>